:root {
    --color-primary: #6f9a37;
    --color-secondary: #61a0fb;
    --white: #fff;
    --grey-font: #5d6265;
    --heading-black: #3d474d;
    --emphasis-green: #86a844;
    --background-grey-dark: #eceae7;
    --background-grey-light: #f8f7f6;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-grey-light);
}

.dark-grey-background {
    background-color: var(--background-grey-dark);
}

.common-container {
    padding: 40px;
}

.img-container {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.split-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-container {
    width: 50%;
}

.container-30 {
    width: 33%;
}

.container-60 {
    width: 66%;
}

.quater-container {
    width: 25%;
}

.primary-cta {
    background-color: var(--color-primary);
    color: var(--white);
}

.secondary-cta {
    background-color: var(--color-secondary);
    color: var(--white);
}

.fancy-font {
    font-family: cursive;
    color: var(--color-primary);
}

.emphasis-heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 15px;
}