include ../mixin-bootstrap-carousel/mixin-bootstrap-carousel.pug

+carousel('hero', '../../assets/images/Carousel_1.jpg', '../../assets/images/Carousel_2.jpg', '../../assets/images/Carousel_3.jpg', '../../assets/images/Carousel_4.jpg', '../../assets/images/Carousel_5.jpg', '../../assets/images/Carousel_6.jpg')
