doctype html
html(lang='en')
    title Sanath Kashyap
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    include ../common/style_sources.pug
    body
        include ../components/nav-bar/nav-bar.pug
        section(id="home")
            include ../components/hero-carousel/hero-carousel.pug
        section.dark-grey-background.common-container(id="about-us")
            include ../components/doc-message/doc-message.pug
        section.common-container(id="services")
            include ../components/services-tabs/services-tabs.pug
        section.dark-background.common-container
            include ../components/footer/footer.pug

        include ../common/script_sources.pug
