.footer-container
    .split-container
        .half-container
            h4 Links
            ul
                li
                    a About Us
                li
                    a Services
                li
                    a Contact Us
        .half-container
            address 
                |Line 1
                br
                |Line 2
                br 
                |Line 3
                br 
                |City - PIN
                br
                |Contact Number
    hr.full-width.dark-grey-background
    .salutation
        span Copyright © Bluechip Innovations Pvt. Ltd., 2020. All Rights Reserved.