.sticky-header 
    .logo-icon(style="text-align: center;"
    ) Logo Comes Here!
    nav.main-navigation
        a.nav-btn(scroll-to="#home")
            span Home
        a.nav-btn(scroll-to="#about-us") 
            span About Us
        a.nav-btn(scroll-to="#services")
            span Services