//Path is relative to index.pug

//Common scripts

script(src="../common/scripts/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")

//Component scripts
script(src="../components/nav-bar/nav-bar.js")
script(src="../components/mixin-bootstrap-carousel/mixin-bootstrap-carousel.js")
script(src="../components/services-tabs/services-tabs.js")