.doc-message-container.split-container
    .container-60
        h1.fancy-font
            span Nirdosh Healing Centre
        h2.emphasis-heading A Place Of Healing And Wellness.
        .split-container.common-container
            .half-container
                p Welcome to the Alternative Medical Centre. Our approach to patient care values the importance of the patient-practitioner relationship.
            .half-container
                p Focuses on the whole person, is informed by evidence and integrates naturopathic healthcare and disciplines, lifestyle and nutritional advice.
    .container-30
        .img-container
            img(src="../../assets/images/doctor-message.jpg" alt="" srcset="")